{% extends 'dashboard/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block tabContentArea %}

    <div class = "clearfix w-100">
        <a class="btn btn-secondary my-2 btn-light float-right small" type="button" href="{{path('dashboard_new_plateform')}}">
            <span class = "text-success font-italic">New</span>
        </a>
    </div>

    {% if plateforms|length == 0 %}
        <div class="alert alert-primary small font-italic" role="alert">
            No recorded plateforms 
        </div>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">CatIs Id</th>
                {# <th scope="col">Handle</th> #}
                </tr>
            </thead>
            <tbody>
                {% for plateform in plateforms %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{plateform.name}}</td>
                        <td>{{plateform.catisId}}</td>
                        {# <td>@mdo</td> #}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
